.password-input-container {
    position: relative;
    display: flex;
    
  }
  
  
  
  .eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
    transition: color 0.3s ease;
  }
  
  .eye-icon:hover {
    color: #333;
  }
  